body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 18px 180px 10px 180px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
}

a, h4 {
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    font-weight: 100;
}

.hero {
    background-color: #1f2937;
    padding: 120px 180px;
    display: flex;
    gap: 50px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    color: white;
    background-color: cornflowerblue;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 800;
    border: 0;
    margin: 10px 0px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    margin: 40;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px 250px 100px;
}

.info {
    text-align: center;
    color: grey;
    font-size: 15px;
    max-width: 150px;
    font-weight: 500;
}

.icon {
    border-radius: 10px;
    border: 4px cornflowerblue solid;
}

.quote {
    background-color: lightgrey;
    font-size: 33px;
    font-style: italic;
    font-weight: 100;
    padding: 100px 300px;
}

.thor {
    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
}

.signup {
    background-color: cornflowerblue;
    margin: 100px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    color: white;
    padding: 40px;
}

.sign {
    border: 2px white solid;
}

.line1 {
    font-weight: bold;
    font-size: 20px;
}